* {
    font-family: sans-serif;
}

body {
    padding: 2em 5%;
    /* background-color: wheat; */
}

.subTitle {
    font-weight: bold;
}

.headerBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.button {
    background-color: dodgerblue;
    border-radius: 10px;
    width: 7em;
    height: 3em;
    font-weight: 600;
}

.button:hover {
    background-color: white;
    transition: 100ms;
    cursor: pointer;
}

.transaction {
    padding: 3.5em;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 2.5em;
    margin-left: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.viewer {
    display: flex;
    flex-wrap: wrap;
}

.flexRowBig {
    display: flex;
    gap: 2em;
    justify-content: space-evenly;
}

.flexRowSmall {
    display: flex;
    align-items: center;
    gap: 1em;
}